@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Montserrat", "Raleway", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-1: #222831;
  --color-2: #393e46;
  --color-3: #ffd369;
  --color-4: #eeeeee;

  --color-5: #071a52;
  --color-6: #086972;
  --color-7: #17b978;
  --color-8: #a7ff83;
}

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  animation: scrollDownIcon 1s linear alternate infinite;
}

a {
  text-decoration: none;
}

header {
  mask-image: linear-gradient(to bottom, black 90%, transparent);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-image: linear-gradient(to right, black, transparent);
  width: 20%;
  height: 100%;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  background-image: linear-gradient(to right, transparent, black);
  width: 20%;
  height: 100%;
}

.scroller {
  animation: iconScroller 15s infinite linear;
}

@keyframes iconScroller {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollDownIcon {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
